<div class="comic-edit-container">
  <form [formGroup]="categoryForm">
    <div class="form-item">
      <label class="label required">Title</label>
      <input 
      type="text"
      id="Title" 
      formControlName="title" 
      placeholder="Enter Webcomic name"
      >
    </div>
    <div class="form-item">
      <label class="label required">URL</label>
      <input type="text" id="URL" formControlName="URL" placeholder="Enter webcomic URL">
    </div>
    <div class="form-item">
      <label class="label">Category image URL</label>
      <input type="text" id="imgURL" formControlName="imgURL" placeholder="Enter webcomic category image URL">
    </div>
    <div class="form-item">
      <label class="label">Status</label>
      <input type="text" id="status" formControlName="status" placeholder="Enter webcomic status">
    </div>

       

    <div class="button-container">
      <button type="submit" class="button">Save</button>
      <button class="button">Delete</button>
    </div>
  

  </form>
</div>
