.footer {
  width: 100%;
  height: 7.5vh;
  z-index: 30;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  background-color: white;
  font-size: 20px;
}

.footer-item {
  outline: none;
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-search {
  width: 100%;
  height: 7.5vh;
  background-color: white;
  z-index: 130;
  position: fixed;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.mobile-search.hidden {
  display: none;
}

.search-input-container {
  position: relative;
  text-align: inherit;
  line-height: 2;
  height: 6vh;
}

.search-input-container .input {
  padding-left: 40px;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  border: none;
  color: #363636;
  text-align: inherit;
  height: 100%;
}

.search-input-container .input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.search-input-container .input:focus {
  outline: none;
}

.search-input-container .icon {
  color: #dbdbdb;
  height: 6vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 6vh;
  left: 0;
  font-size: 20px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.mobile-search-item {
  //
}

.mobile-search-item > .back {
  color: #4a4a4a;
  position: relative;
  height: 6.5vh;
  width: 6.5vh;
  margin-left: 0;
  display: flex;
}

.mobile-search-item > .back span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  width: 16px;
}

.mobile-search-item > .back span:nth-child(1) {
  top: calc(50% - 6px);
  transform: translateY(5px) rotate(45deg);
}

.mobile-search-item > .back span:nth-child(2) {
  top: calc(50% + 4px);
  transform: translateY(-5px) rotate(-45deg);
}
