<div class="footer">
  <div class="footer-item" routerLink="/collection">
    <span class="icon">
      <fa-icon icon="home"></fa-icon>
    </span>
  </div>
  <div class="footer-item" routerLink="/collection/new">
    <span class="icon">
      <fa-icon icon="plus"></fa-icon>
    </span>
  </div>
  <div class="footer-item" (click)="toggleMobileSearch()">
    <span class="icon">
      <fa-icon icon="search"></fa-icon>
    </span>
  </div>
</div>

<div class="mobile-search" [class.hidden]="!mobileSearchVisible">
  <div class="mobile-search-item">
    <div class="search-input-container">
      <input class="input" type="text" placeholder="Search" />
      <span class="icon">
        <fa-icon icon="search"></fa-icon>
      </span>
    </div>
  </div>
  <div class="mobile-search-item" (click)="toggleMobileSearch()">
    <div class="back">
      <span></span>
      <span></span>
    </div>
  </div>
</div>