.collection-container {
  margin-bottom: 56px;
}

.subheader-container {
  width: 100%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
}

.subheader-title {
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 22px;
  font-family: 'Didact Gothic', sans-serif;
}

.subheader-content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 5vw;
  margin:  1vw 0;
}

.view-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.view-toggle.chosen {
  color: #ec4c4c;
  border-bottom: 1px solid;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.category-container {
  width: 32vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-container > .title {
  font-size: 14px;
  // font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 5vh;
  height: 6vh;
  min-height: 38px;
  width: 90%; 
}

.category-container > img {
  max-height: 100%;
  height: 60%;
  max-width: 80%;
  width: 100%;
  object-fit: contain;
}