<div class="collection-container">
  <div class="subheader-container">
    <div class="subheader-title">My Collection</div>
    <div class="subheader-content">
      <div class="view-toggle" [class.chosen]="showAll" (click)="showWebcomics()">Show Webcomics</div>
      <div class="view-toggle" [class.chosen]="!showAll" (click)="showCategories()">Show Categories</div>  
    </div>
  </div>
  
  <!-- <div class="category-list" *ngIf="!showAll" >
    <app-category *ngFor="let category of categories" (click)="selectCategory(category)" [category]="category"></app-category>
    <div class="category-container"  *ngIf="emptySpaces == 1 || emptySpaces == 2"></div>
    <div class="category-container" *ngIf="emptySpaces == 1"></div>
    
  </div> -->
 

  <div class="category-list" *ngIf="!showAll" >
    <div class="category-container" *ngFor="let category of categories" (click)="selectCategory(category)">
    <div class="title">
      <p>{{ category.name }}</p>
    </div>
    <img src="{{ category.imgURL }}" alt="{{  category.name }}">
    </div>
    <div class="category-container"  *ngIf="emptySpaces == 1 || emptySpaces == 2"></div>
    <div class="category-container" *ngIf="emptySpaces == 1"></div>
  </div>



  <!-- <div class="category-container">
    <div class="title">
      <p> {{ category.name }}</p>
      <p>{{ category.name }}</p>
    </div>
    <img src="{{ category.imgURL }}" alt="{{  category.name }}">
  </div>
   -->
  
  <app-webcomic-list *ngIf="showAll" [showAll]="showAll"></app-webcomic-list>
</div>