
// @media screen and (max-width: 768px) {
  //
// }

.header {
  width: 100%;
  height: 8vh;
  box-shadow: 0 2px 0 0 whitesmoke;
  z-index: 90;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  position: sticky;
  top: 0;
}


.header-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 8vh);
}

.header-brand {
  justify-content: center;
  width: fit-content;
  align-items: center;
  display: flex;
  margin-right: calc((4vh - 11px) /2 );
}


.header-burger {
  color: #363636;
  height: 8vh;
  width: 8vh;
  position: relative;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.header-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  width: 22px;
  left: calc(50% - 11px);
  position: absolute;
  transform-origin: center;
  transition-duration: 186ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}

.header-burger span:nth-child(1) {
  top: calc(50% - 7px);
}

.header-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.header-burger span:nth-child(3) {
  top: calc(50% + 5px);
}

.header-burger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.header-burger.open span:nth-child(2) {
  opacity: 0;
}

.header-burger.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}


.header-logo {
  object-fit: scale-down;
  max-height: 1.8rem;
}

.header-title {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes mobile-menu-slide {
  from { left: -80; }
  to { left: 0; } 
}

.header .header-menu-mobile {
  position: fixed;
  z-index: 20;
  top: 0;
  left: -80%;
  background-color: white;
  height: calc(92vh - 1px);
  width: 80vw;
  margin-top: calc(8vh + 2px);
  display: flex;
  justify-self: start;
  animation-name: mobile-menu-slide;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  box-shadow: -1px 0 0 0 whitesmoke inset;
}

@keyframes mobile-menu-slide-hide {
  from { left: 0; display: flex; }
  to { left: -80%; display: none; } 
}


.header .header-menu-mobile.hidden{
  animation-name: mobile-menu-slide-hide;
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}


.header-menu-items-mobile {
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin-left: 2vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-menu-item:focus, .header-menu-item-mobile:focus {
  outline: none;
}

.header-menu-item-mobile {
  padding: 1vh;
  margin: 1vw 0;
}

.header-menu-item-mobile > a {
  font-size: 19px;
}


