<header class="header">
  <!-- <div class="hambuger-button hidden-desktop"> -->
    <a class="header-burger" #burger (click)="toggleMobileMenu()" (click)="disableAnimation()">
      <span></span>
      <span></span>
      <span></span>
    </a>
  <!-- </div> -->

  <div class="header-left-side">
    <div class="header-brand">
      <img class="header-logo" src="assets/images/fakeLogo.png">
      <h2 class="header-title f2">Webcomic Collector</h2>
    </div>
  </div>

  <nav class="header-menu-mobile" [class.hidden]="!mobileMenuVisible" *ngIf="!animationDisabled">
    <ul class="header-menu-items-mobile" (click)="toggleMobileMenu()" routerLinkActive="active">
      <li class="header-menu-item-mobile" routerLink="/collection">
        <a>Collection</a>
      </li>
      <li class="header-menu-item-mobile" routerLink="/about">
        <a>About</a>
      </li>
      <li class="header-menu-item-mobile" routerLink="/progress">
        <a>Progress</a>
      </li>
      <li class="header-menu-item-mobile" routerLink="/collection/new-category">
        <a>Menu Dummy</a>
      </li>
    </ul>
  </nav>

</header>