

<div class="comic-view-container">

  <div class="comic-view-subheader">
    <div class="comic-info" (click)="showWebcomicCategory()">
      <img src="{{ categoryImgUrl  }}" alt="{{ webcomic.category  }}">
        <div class="comic-name" >
        <p>{{ webcomic.category  }}</p>
      </div>
    </div>
    <div class="comic-title">
      <h2>{{ webcomicTitle }}</h2>
    </div>
  </div>
    <div class="comic-img-container" (click)="zoomImg()">
    <img class="comic-img" src="{{ webcomic.imgURL  }}" alt="{{ webcomic.title }}" [class.zoom] = "zoom">
      <div class="zoomImg" [class.visible]="zoom">
        <img class="zoomImg-content" src="{{ webcomic.imgURL  }}">
      </div>
  </div>
 
  <div class="comic-menu">
    <div class="comic-menu-item" (click)="like()">
      <span class="icon">
        <fa-icon *ngIf="!webcomic.like; else likedIcon" [icon]="['far', 'heart']"></fa-icon>
        <ng-template #likedIcon>
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </ng-template>
      </span>
    </div>
    <div class="comic-menu-item" (click)="visitSource()">
      <span class="icon">
        <fa-icon icon="external-link-alt"></fa-icon>
      </span>
    </div>
    <div class="comic-menu-item" (click)="saveURLToClipboard()">
      <span class="icon">
        <fa-icon icon="share-alt"></fa-icon>
      </span>
    </div>
    <div class="comic-menu-item"  routerLink="edit">
      <span class="icon">
        <fa-icon icon="edit"></fa-icon>
      </span>
    </div>
  </div>
  
</div>



<div class="navBack"  (click)=" previousWebcomic()">
  <fa-icon icon="chevron-left"></fa-icon>
</div>
<div class="navNext" (click)="nextWebcomic()">
  <fa-icon icon="chevron-right"></fa-icon>
</div>