.comic-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comic-view-subheader {
  display: flex;
  height: 16vh;

}

.comic-info {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-around;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


.comic-info > img {
  height: 8vh;
  width: 8vh;
  object-fit: contain;
}


.comic-info > .comic-name {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 13vw;
}

.comic-info > .comic-name > p {
  text-align: center;
 }

.comic-title {
  font-size: 18;
  display: flex;
  justify-content: center ;
  padding: 18px;
  width: 55vw;
  align-items: center;
}

.comic-img-container {
  margin-left: 6px;
  margin-right: 6px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  padding: 1vh 0;
}

.comic-img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.zoomImg {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: calc(8vh + 2px);
  width: 100vw; 
  height: calc(76vh - 2px);
  overflow: auto; 
  background-color: rgba(0,0,0,0.9);
}

.zoomImg.visible {
  display: flex;
}


.zoomImg-content {
  margin: auto;
  display: block;
  object-fit: cover;
}



.comic-menu {

  width: 75vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.comic-menu-item {
  width: 18vw;
  margin: 1vh 1vw;
  display: flex;
  justify-content: center;
}

.navNext {
  font-size: 70px;
  font-weight: 100;
  transform: scale(0.8,1); 
  height: 10vh;
  position: absolute;
  bottom: 45vh;
  right: 1vw;
  color: black;
  opacity: 0.25;
}

.navBack {
  font-size: 70px;
  font-weight: 100;
  transform: scale(0.8,1); 
  height: 10vh;
  position: absolute;
  bottom: 45vh;
  left: 1vw;
  color: black;
  opacity: 0.25;
}


