<div class="webcomic-list-container">
  <div class="webcomic-list-subheader" *ngIf="!showAll">
    <div class="category-img" (click)="visitWebcomicSource()">
      <img src="{{ category.imgURL  }}" alt="{{ category.name }}">
    </div>
    <div class="category-info">
      <div class="category-title">
        <h3>{{ category.name }}</h3>
      </div>
      <p *ngIf="category.status != 'none'">Status: {{ category.status}}</p>
    </div>
    <div class="category-options" *ngIf="category.name != 'misc'  &&  category.name != 'Favorites'" >
      <span class="icon" (click)="toggleCategoryMenu()">
        <fa-icon icon="ellipsis-h"></fa-icon>
      </span>
    </div>
    <div class="category-menu" [class.hidden]="!categoryMenuVisible">
      <p>penis</p>
      <button class="button-small" routerLink="edit">test</button>
    </div>
  </div>

  <div class="webcomic-list">
    <div class="webcomic-list-item" *ngFor="let comic of webcomics" (click)="selectWebcomic(comic)">
      <img src="{{ comic.imgURL  }}" alt="{{ comic.title }}">
    </div>
    <div class="webcomic-list-item" *ngIf="emptySpaces == 1 || emptySpaces == 2" ></div>
    <div class="webcomic-list-item" *ngIf="emptySpaces == 1"></div>
  </div> 
</div>