.webcomic-list-container {
  margin-bottom: 7.5vh;
}


.webcomic-list-subheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 1vh 0;
  // border: 1px solid rgb(42, 185, 126);
}

.category-img {
  height: 13vh;
  width: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid cornflowerblue;
}

.category-img > img {
  height: 12vh;
  max-width: 12vh;
  object-fit: contain;
}

.category-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 10vh;
  align-items: flex-start;
  // border: 1px solid crimson;
}

.category-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.7vh;
}


.category-info > p {
  font-size: 13px;
}

.category-options {
  width: 10vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center ;
  // border: 1px solid chocolate;
}

.category-options > .icon {
  font-size: 18px;
}

.category-menu {
  position: fixed;
  z-index: 50;
  top: 12vh;
  // right: calc((100vw - 13vh - 50vw)/6) ;
  // top: calc(8vh + 1px);
  right: 1vw;
  
  background-color: white;
  height: 9vh;
  width: 30vw;
  // margin-top: calc(8vh + 2px);
  display: flex;
  justify-self: start;
  // animation-name: mobile-menu-slide;
  // animation-duration: 0.1s;
  // animation-fill-mode: forwards;
  // animation-timing-function: ease-out;
  // box-shadow: -1px 0 0 0 whitesmoke inset;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 4px whitesmoke;
  // border: 1px solid rgb(120, 12, 153);
  
}

.category-menu.hidden {
  display: none;
}


.button-small {
  background-color: transparent;
  color: #363636;
  border: 1px solid  #363636;
  font-size: 12px;
  // cursor: pointer;
  justify-content: center;
  padding: 1px 10px;
  text-align: center;
  white-space: nowrap;
}

.button-small:hover, .button-small.is-hovered {
  color:  #ec4c4c;
  border-color:  #ec4c4c ;
}

.button-small:focus {
  color:  #ec4c4c;
  border-color:  #ec4c4c ;
  outline: none;
}

.button-small:disabled {
  color:  #dbdbdb;
  border-color: #dbdbdb ;
  outline: none;
}


// .header-menu {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// @keyframes mobile-menu-slide {
//   from { left: -80; }
//   to { left: 0; } 
// }

// .header .header-menu-mobile {
//   position: fixed;
//   z-index: 20;
//   top: 0;
//   left: -80%;
//   background-color: white;
//   height: calc(92vh - 1px);
//   width: 80vw;
//   margin-top: calc(8vh + 2px);
//   display: flex;
//   justify-self: start;
//   animation-name: mobile-menu-slide;
//   animation-duration: 0.1s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-out;
//   box-shadow: -1px 0 0 0 whitesmoke inset;
// }

// @keyframes mobile-menu-slide-hide {
//   from { left: 0; display: flex; }
//   to { left: -80%; display: none; } 
// }


// .header .header-menu-mobile.hidden{
//   animation-name: mobile-menu-slide-hide;
//   animation-duration: 0.1s;
//   animation-fill-mode: both;
//   animation-timing-function: ease-out;
// }


// .header-menu-items-mobile {
//   list-style-type: none;
//   height: 100%;
//   width: 100%;
//   margin-left: 2vw;
//   padding: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   margin-block-start: 0;
//   margin-block-end: 0;
// }

// .header-menu-item:focus, .header-menu-item-mobile:focus {
//   outline: none;
// }

// .header-menu-item-mobile {
//   padding: 1vh;
//   margin: 1vw 0;
// }

// .header-menu-item-mobile > a {
//   font-size: 19px;
// }













.webcomic-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.webcomic-list-item {
  width: 32vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2vh;
}

.webcomic-list-item > img {
  width: 100%;
  max-width: 80%;
  max-height: 100%;
  object-fit: contain;
}
