<div class="comic-edit-container">
  <form [formGroup]="webcomicForm" (ngSubmit)="saveWebcomic()">
    <div class="form-item">
      <label class="label required">URL</label>
      <input 
      type="text"
      id="URL" 
      formControlName="URL" 
      placeholder="Enter webcomic URL or img URL"
      >
    </div>
    <div class="form-item">
      <label class="label">Title</label>
      <input type="text" id="title" formControlName="title" placeholder="Enter webcomic title">
    </div>
    <div class="form-item">
      <label class="label required">Category</label>
      <input type="text" id="category" formControlName="category" placeholder="Choose webcomic category">
    </div>

       
  <form (ngSubmit)="addTag()">
    <div class="form-item">
      <label class="label">Tags</label>
      <div class="tag-container">
        <div class="tag" *ngFor="let tag of tags, let i = index" (click)="deleteTag(i)">
          <p>  {{  tag }} </p>
          <div class="delete-button"></div>
        </div>
        <input type="text" id="Tagss" placeholder="Enter Tags"  [formControl]="tagForm" >
      </div>
    </div>
  </form>

  <div class="button-container">
    <button type="submit" class="button" [disabled]="this.webcomicForm.status === 'INVALID'">Save</button>
    <button class="button" (click)="deleteWebcomic()" *ngIf="!isNewWebcomic">Delete</button>
  </div>
  

  </form>
</div>
