.comic-edit-container {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(7.5vh + 2px);
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4.5vw;
}

.form-item >.label {
  font-size: 20px;
  margin-left: 3vw;
  margin-bottom: 0.5vh;
  font-family: 'Montserrat', sans-serif;
}

.form-item > .label.required::after {
  content: "*";
  color: #ec4c4c;
} 

.form-item > input {
  padding: 1vh 1vw 1vh 3vw;
  border-radius: 2px;
  border:  1px solid  #dbdbdb ;
  background-color: white;
  color: #363636;
  height: 5vh;
  width: 80vw;
}

.form-item > input::placeholder {
  font-size: 13px;
}

.form-item > input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ec4c4c;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 2px;
  border:  1px solid  #dbdbdb ;
  background-color: white;
  color: #363636;
  min-height: 5vh;
  height: fit-content;
  max-width: 80vw;
  padding: 1vh 1vw 1vh 1vw;
}

.tag-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #ec4c4c;
}

.tag-container > input {
  border: none;
  margin: 1vw 1vw;
  width: 35vw;
  color: #363636;
}

.tag-container > input::placeholder {
 font-size: 13px;
}

.tag-container > input:focus {
  outline : none ;
}

.tag {
  border-radius: 290486px;
  border:  1px solid #363636;
  width: fit-content;
  padding: 0 0.8vh;
  background-color: transparent;
  margin: 1vw 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tag > .delete-button {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(105, 105, 105);
  color:  #dbdbdb;
  font-size: 14px;
  margin: 0vh 0.3vh;
}

.tag > .delete-button::before {
  content: '🞩';
  transform: translate(0,-1px); 
} 

.button-container {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
}