@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

p, h2, h3, input, a, button {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 100;
  font-size: 20px;
}

h3 {
  font-weight: 100;
  font-size: 18px;
}

p, a {
  font-size: 15px;
}

input {
  font-size: 16px;
}

.f1 {
  font-family: 'Rajdhani', sans-serif;
}

.f2 {
  font-family: 'Montserrat', sans-serif;
}

.f3 {
  font-family: 'Amatic SC', cursive;
}

.f4 {
  font-family: 'Quicksand', sans-serif;
}
.f5 {
    font-family: 'Didact Gothic', sans-serif;
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden-desktop {
    display: none !important;
  }
}


.button {
  background-color: transparent;
  color: #363636;
  border: 1px solid  #363636;
  font-size: 20px;
  // cursor: pointer;
  justify-content: center;
  padding: 9px 40px;
  text-align: center;
  white-space: nowrap;
}

.button:hover, .button.is-hovered {
  color:  #ec4c4c;
  border-color:  #ec4c4c ;
}

.button:focus {
  color:  #ec4c4c;
  border-color:  #ec4c4c ;
  outline: none;
}

.button:disabled {
  color:  #dbdbdb;
  border-color: #dbdbdb ;
  outline: none;
}

// .category-container {
//   width: 32vw;
//   height: 40vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.hidden {
  display: none;
}
